@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Ubuntu:wght@400;500;700&display=swap&family=Poppins:wght@300;400;500;600');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 7500px;
    padding: 20px 80px;
    margin: auto;
}
.logo img{
    width: 125px;
    height: auto;
    padding-left: 0px;
    animation-name: spin;
    animation-duration: 400ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
.navbar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    font-family: 'Poppins';
    animation: fadeIn 2s;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: white;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 3px;
    margin-left: 25px;
    padding-right: 20px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: rgb(177, 177, 177);
}

.home{
    display: flex;
    background-image: url('images/bg.JPG');
    background-size: cover;
    background-position: center;
    /*position: sticky;*/
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
    height: 100vh;
}
#text-1{
    font-size: 150px;
    padding-top: 400px;
    padding-left: 150px;
    line-height: 140px;
    letter-spacing: 10px;
    text-shadow: 4px 3px 15px rgba(0, 0, 0, 0.9);
    animation: scale .5s ease;
}


@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes scale{
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


































@keyframes jump {
    0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
    40%  {transform: translate3d(0,30%,0) scale3d(.7,1.5,1);}
    100% {transform: translate3d(0,100%,0) scale3d(1.5,.7,1);}
  }
  .jump {
    transform-origin: 50% 50%;
    animation: jump .5s linear alternate infinite;
  }
  @keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}