@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 10000;
    transition: 0.6s;
}
header .logo{
    position: relative;
    font-weight: 100;
    color: white;
    text-decoration: none;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: url(images/bg.JPG);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    z-index: 2;
}

.content{
    max-width: 650px;
    padding-left: 10vw;
    transition: ease all .2s;
}
.content h2{
    color: white;
    font-size: 10em;
    line-height: 150px;
    text-shadow: 4px 4px 10px black;
    transition: ease all .2s;
}
.content p{
    font-size: 1.7em;
    color: white;
    font-weight: 300;
    padding-top: 20px;
    text-shadow: 2px 2px 6px black;
    transition: ease all .2s;
}
.content a{
    position: relative;
    display: inline-block;
    margin-top: 20px;
    background: white;
    color: black;
    border-radius: 10px;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    transition: 0.5s;
}
.content a:hover{
    color: white;
    background: rgb(41, 41, 41);
    transition: 0.5s;
}
.pnglinks{
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 9vh;
    padding-left: 10vw;
    
}
.pnglinks li{
    list-style: none;
    margin-right: 15px;
}
.pnglinks li a{
    position: relative;
    display: grid;
    place-items: center;
    width: 7.5vh;
    height: 7.5vh;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 10px;
    margin: 10px 0 0;
}
.pnglinks li a:hover{
    background: white;
}
.pnglinks li a img{
    max-width: 6vh;
    filter: grayscale();

}

.aboutme{
    border-top: 1rem solid white;
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: url(images/projectbg.JPG);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: block;
    align-items: center;
    z-index: 2;
}
.abtext h2{
    color: white;
    font-size: 5em;
    font-weight: 300;
    line-height: 150px;
    text-shadow: 4px 4px 10px black;
    transition: ease all .2s;
}

@media (max-width: 767px){
    /*header{
        padding: 20px 30px;
    }*/

    header{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 40px 50px;
        z-index: 10000;
        transition: 0.6s;
    }

    .banner{
        position: relative;
        width: 100%;
        min-height: 100vh;
        padding: 30px;
        background: url(images/bg.JPG);
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        display: flex;
        align-items: center;
        z-index: 2;
    }

    .content{
        max-width: 550px;
        padding-left: 0px;
    }
    .content h2{
        color: white;
        font-size: 6em;
        line-height: 90px;
        text-shadow: 4px 4px 10px black;
    }
    .content p{
        font-size: 1em;
        color: white;
        font-weight: 300;
        padding-top: 20px;
        text-shadow: 2px 2px 6px black;
    }

    .pnglinks{
        position: absolute;
        bottom: 50px;
        right: initial;
        flex-direction: row;
        padding-left: 0.5vw;
    }
    .pnglinks li a{
        margin: initial;
        margin-right: 10px;
    }
}